
.vscode/

Models/5_stateMarkers/EPI_msiFig4/Replicates/
Models/5_stateMarkers/OLD_andTESTs.7z
Results/5_stateMarkers/EPI_msiFig4/crcTME_ALLcells/Manual_plots/.RData
Results/5_stateMarkers/EPI_msiFig4/EPI_msiFig4/Replicates/
.vscode/settings.json
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_ClassReport_TESTdata_0.997459096198143.json
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_ClassReport_VALIDdata_1.0.json
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_confusion_matrix_TESTdata_0.997459096198143.csv
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_confusion_matrix_VALIDATIONdata_1.0.csv
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_confusionmatrix_TEST.png
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_feature_importances (2).png
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_feature_importances.png
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_pred_vs_real.png
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_RFcclass.joblib
output/classRF/TRAINING_testPDO_UNTRrep1_statePTMs/testPDO_UNTRrep1_statePTMs_tree.dot
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/TESTisnondwnstrain.txt
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_ClassReport_TESTdata_0.9952269003348294.json
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_ClassReport_TESTdata_0.9953693809218493.json
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_ClassReport_VALIDdata_0.9886363636363636.json
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_ClassReport_VALIDdata_1.0.json
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusion_matrix_TESTdata_0.9950131794542993.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusion_matrix_TESTdata_0.9952269003348294.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusion_matrix_TESTdata_0.9953693809218493.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusion_matrix_VALIDATIONdata_0.9886363636363636.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusion_matrix_VALIDATIONdata_1.0.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusionmatrix_TEST.png
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_feature_importances.png
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_pred_vs_real.png
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_RFcclass.joblib
output/classRF/TRAINING_testPDO_UNTRrep1_ALLm/testPDO_tree.dot
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/New Text Document.txt
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_ClassReport_TESTdata_0.9882943143812709.json
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_ClassReport_VALIDdata_0.9772727272727273.json
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_confusion_matrix_TESTdata_0.9882943143812709.csv
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_confusion_matrix_VALIDATIONdata_0.9772727272727273.csv
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_confusionmatrix_TEST.png
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_feature_importances.png
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_RFcclass.joblib
output/classRF/TRAINING_PDO21_UNTrep1_sPnoPARP_t10ng/PDO21_UNTrep1_sPnoPARP_t10ng_tree.dot
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/New Text Document.txt
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_ClassReport_TESTdata_0.9974576924064611.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_ClassReport_VALIDdata_1.0.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_confusion_matrix_TESTdata_0.9974576924064611.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_confusion_matrix_VALIDATIONdata_1.0.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_confusionmatrix_TEST.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_feature_importances.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_RFcclass.joblib
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_tree.dot
output/classRF/TRAINING_PDO21_UNTrep1_sP_tUNTrep2/PDO21_UNTrep1_sP_tUNTrep2_downs_b4_RF/PDO21_UNTrep1_sP_tUNTrep2_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/New Text Document.txt
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_ClassReport_TESTdata_0.9982822811630253.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_ClassReport_VALIDdata_0.9886363636363636.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_confusion_matrix_TESTdata_0.9982822811630253.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_confusion_matrix_VALIDATIONdata_0.9886363636363636.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_confusionmatrix_TEST.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_feature_importances.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_RFcclass.joblib
output/classRF/TRAINING_PDO21_UNTrep1_sP_tALLrep2/PDO21_UNTrep1_sP_tALLrep2_tree.dot
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/New Text Document.txt
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_ClassReport_TESTdata_0.9977060286424835.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_ClassReport_VALIDdata_1.0.json
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_confusion_matrix_TESTdata_0.9977060286424835.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_confusion_matrix_VALIDATIONdata_1.0.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_confusionmatrix_TEST.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_feature_importances.png
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_RFcclass.joblib
output/classRF/TRAINING_PDO21_UNTrep1_sP_t10ng/PDO21_UNTrep1_sP_t10ng_tree.dot
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_confusion_matrix_FULLdata_0.9995229574244491.csv
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_confusion_matrix_TESTdata_1.0.csv
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_confusion_matrix.png
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_feature_importances.png
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_pred_vs_real.png
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_RFcclass.joblib
output/classRF/TRAINING_gating_Fig4onFig2/gating_Fig4onFig2_tree.dot
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_confusion_matrix_FULLdata_0.9997449841190779.csv
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_confusion_matrix_TESTdata_1.0.csv
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_confusion_matrix.png
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_feature_importances.png
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_pred_vs_real.png
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_RFcclass.joblib
output/classRF/TRAINING_EPI_msiFig4_statePTMs/EPI_msiFig4_statePTMs_tree.dot
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_confusion_matrix_FULLdata_0.8390836534138811.csv
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_confusion_matrix_TESTdata_1.0.csv
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_confusion_matrix.png
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_feature_importances.png
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_pred_vs_real.png
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_RFcclass.joblib
output/classRF/TRAINING_ALLm_trf4_tcrctme/ALLm_trf4_tcrctme_tree.dot
output/classRF/TRAINING_/_ClassReport_TESTdata_0.998499271074522.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9938898893748392.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9947282182802594.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9967627133178972.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9970628591029929.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9972986879341394.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9975540832561564.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9976253235496664.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9976417116885344.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9977060286424835.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9977274676271332.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9980527653107264.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9981348083354772.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9981477523687398.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9981991252894263.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9983852200137732.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9986493439670697.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9988126617748332.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9990138067061144.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9991213697133765.json
output/classRF/TRAINING_/_ClassReport_TESTdata_0.9994640253837578.json
output/classRF/TRAINING_/_ClassReport_VALIDdata_0.9886363636363636.json
output/classRF/TRAINING_/_ClassReport_VALIDdata_1.0.json
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.998499271074522.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9938898893748392.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9947282182802594.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9967627133178972.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9970628591029929.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9972986879341394.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9975540832561564.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9976253235496664.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9976417116885344.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9977060286424835.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9977274676271332.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9980527653107264.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9981348083354772.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9981477523687398.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9981991252894263.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9983852200137732.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9986493439670697.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9988126617748332.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9990138067061144.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9991213697133765.csv
output/classRF/TRAINING_/_confusion_matrix_TESTdata_0.9994640253837578.csv
output/classRF/TRAINING_/_confusion_matrix_VALIDATIONdata_0.9886363636363636.csv
output/classRF/TRAINING_/_confusion_matrix_VALIDATIONdata_1.0.csv
output/classRF/TRAINING_/_confusionmatrix_TEST.png
output/classRF/TRAINING_/_confusionmatrix_VALIDATION.png
output/classRF/TRAINING_/_downs_b4_RF_downsampled_IDs.csv
output/classRF/TRAINING_/_feature_importances.png
output/classRF/TRAINING_/_RFcclass.joblib
output/classRF/TRAINING_/_tree.dot
output/classRF/TRAINING_/_downs_b4_RF/_downs_b4_RF_downsampled_IDs.csv
output/classRF/crcTME_ALL_statePTMs/crcTME_ALL_statePTMs_classification_report.txt
output/classRF/crcTME_ALL_statePTMs/crcTME_ALL_statePTMs_confusion_matrix.csv
output/classRF/crcTME_ALL_statePTMs/crcTME_ALL_statePTMs_confusion_matrix.png
output/classRF/crcTME_ALL_statePTMs/crcTME_ALL_statePTMs_tree.dot
.vscode/settings.json
input/integrated_dataframe_all-cells.csv
